@import "./_footer.scss";

.review__{
    &container{
        background-color: white;
        max-width: 370.67px;
        min-height: 528px;
        border-radius: 12px;
    

        color: black;

        font-family: Montserrat-Regular;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &header{
        color: #21282E;
        padding: 20px 0 21.5px 30px;

        font-family: Montserrat-Bold;
        font-style: normal;
        // font-weight: 400;
        font-size: 20px;
        line-height: 29px;
    }
    &line{
        width: 100%;
        background: rgba(217, 217, 217, 0.25);

        border: 0px;
        padding: 1px 0 1px 0;
        margin: 0px 0px 22px;
    }
    &main{
        display: flex;
        padding-left: 22px;
        img{
            width: 48px;
            height: 48px;
        }
    }
    &customer-photo{

    }
    &customer-content{
        padding-left: 20px;
    }
    &customer-name{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19.8px;

        padding-bottom: 10px;
    }
    &customer-rate{
        display: flex;
        .fa-star{
            color: rgba(254, 203, 47, 1);
            padding-right: 4px;
            font-size: 13px;
        }
        &__stars{
            margin: 0px 7px 8px 0px;
        }
        &__date{
            color: rgba(0, 0, 0, 0.4);
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19.6px;
        }
    }
    &customer-text{
        max-width: 252px;

        color: rgba(0, 0, 0, 0.7);
    }
    &balcony-photo{
        height: 97px;
        display: flex;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
body{
    background-color: gray;
}
