.advantages{
    background-color: white;
    padding-bottom: 50px;
    &__wrapper{
    }
    &__list{
        // max-width: 1200px; 
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        
        margin-bottom: 70px;
    }
    &__elem{
        // width: 360px;
    }
    &__img{
        margin-bottom: 24px;
        width: 100%;
    }
    &__content{

    }
    &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;

        margin-bottom: 12px;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: rgba(0, 0, 0, 0.5);
        &_more-list-width{
            max-width: 500px;
        }
    }
    &__more-header{
        margin-bottom: 44px;
    }
    &__more-list{
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 28px;
        // max-width: 1150px;
    }
    &__more-elem{
        display: flex;
        align-items: center;
        img{
            margin-right: 20px;
            width: 35px;
            height: 35px;
        }
    }
    a{
        color: inherit;
    }
}