.configuration{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    &__container{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;

        height: 555px;
        width: 370px;
        background-color: #fff;

        font-style: normal;
        font-weight: 600;

        border-radius: 8px;
    }
    &__photo{
        width: 100%;
        border-radius: 8px;
    }
    &__content{
        margin: 32px 24px 0px 24px;
    }
    &__title{
        font-size: 22px;
        line-height: 25px;

        color: $primary-color;

        margin-bottom: 11px;
    }
    &__list{
        
    }
    &__item{
        font-size: 16px;

        margin-bottom: 5px;
        &:last-child{
            .configuration__item__line{
                display: none;
            }
        }
        &__row{
            display: flex;
            justify-content: space-between;

            padding: 21px 0 21px 0;
        }

        &__name{
            color: black;
            vertical-align: bottom;
        }
        &__price{
            vertical-align: bottom;

            color: rgba(0, 0, 0, 0.7);
            font-weight: 400;

            font-size: 15px;
        }
        &__line{
            @extend %line;
        }
    }
}