.advantages
    ul.advantages__list
        li.advantages__elem
            img.advantages__img(src = '/src/assets/png/car.jpg')
            .advantages__content
                h1.advantages__title Быстрые сроки
                p.advantages__subtitle Выезд замерщика в удобное для вас время, установка за 3 часа.
        li.advantages__elem
            img.advantages__img(src = '/src/assets/png/workers.jpg')
            .advantages__content
                h1.advantages__title Убираемся после установки
                p.advantages__subtitle Мы убираем за собой - после монтажа не останется пыли и ненужного мусора.
        li.advantages__elem
            img.advantages__img(src = '/src/assets/png/house.jpg')
            .advantages__content
                h1.advantages__title Гарантия - 5 лет
                p.advantages__subtitle Мы предоставляем гарантию на монтаж 5 лет для всех наших клиентов.   