.configuration__list
    +item("/src/assets/png/Single-leaf-window.jpg", "Одностворчатое окно 800x1400мм")
        +row("Grunder", "от 4499 руб/м2")
        +row("Wintech", "от 4641 руб/м2")
        +row("Aluplast Standart", "от 4730 руб/м2")
    +item("/src/assets/png/Double-leaf-window.jpg", "Двустворчатое окно 1300x1400мм")
        +row("Wintech Lux", "от 4499 руб/м2")
        +row("Deceunink Forward", "от 4641 руб/м2")
        +row("Aluplast Standart", "от 4730 руб/м2")
    +item("/src/assets/png/Triple-leaf-window.jpg", "Трехстворчатое окно 2100x1400мм")
        +row("Grunder", "от 4499 руб/м2")
        +row("Deceunink Bautec Neo", "от 4641 руб/м2")
        +row("Aluplast Standart", "от 4730 руб/м2")
    +item("/src/assets/png/balcony-block.jpg", "Балконный блок 1750x1400мм")
        +row("Grunder", "от 4499 руб/м2")
        +row("Deceunink Favorite Space", "от 4641 руб/м2")
        +row("Aluplast Exclusive", "от 4730 руб/м2")
    +item("/src/assets/png/balcony-block.jpg", "Балконный блок 1750x1400мм")
        +row("Grunder", "от 4499 руб/м2")
        +row("Deceunink Favorite Space", "от 4641 руб/м2")
        +row("Aluplast Exclusive", "от 4730 руб/м2")