.contacts__container
    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac9ca71dd3c53fc35584613b512fef9d2adde5ea323a202058eecdc0a0b648feb&amp;source=constructor" frameborder="0")
    ul.contacts__list
        .contacts__elem
            p.contacts__office Офис на Северном
            p.contacts__adress пр. Космонавтов, 2
            a.contacts__phone(href = 'tel: +78633091372') +7 (863) 309-13-72
        .contacts__elem
            p.contacts__office Офис на Буденновском
            p.contacts__adress пр. Буденновский, 102
            a.contacts__phone(href = 'tel: +78633091372') +7 (863) 309-13-72
