.header(id = 'header')
    .wrapper
        nav.header__navigation
            a.header__logo
                img(src = '/src/assets/png/logo.png')
            ul.header__links-block
                li.header__link 
                    a(href = "#profiles") Профили
                li.header__link 
                    a(href = "#configuration") Конфигурации
                li.header__link 
                    a(href = "#installment") Бесплатный замер
                li.header__link
                    a(href = "#contacts") Контакты
            .header__call
                a.header__link(href = 'tel: +78633081372') + 7 (863) 309-13-72
                p.header__call-offer.open-popup Перезвонить?
        .header__burger
            .burger__container
                .burger 
                    span
                a.burger__link(href = 'tel: +78633081372') + 7 (863) 309-13-72
            .menu
                ul.burger__list
                    li.burger__el
                        a(href = "#profiles") Профили 
                    li.burger__el
                        a(href = "#configuration") Конфигурации
                    li.burger__el
                        a(href = "#installment") Бесплатный замер
                    li.burger__el
                        a(href = "#contacts") Контакты
                    li.burger__el
                        a.burger__link.open-popup.burger__link_margin Заказать звонок