.header(id = 'header')
    .wrapper
        nav.header__navigation
            a.header__logo
                img(src = '/src/assets/png/logo.png')
            ul.header__links-block
                li.header__link 
                    a(href = "#profiles") Профили
                li.header__link 
                    a(href = "#configuration") Конфигурации
                li.header__link 
                    a(href = "#installment") Бесплатный замер
                li.header__link
                    a(href = "#contacts") Контакты
            .header__call
                a.header__link(href = 'tel: +78633081372') + 7 (863) 309-13-72
                p.header__call-offer.open-popup Перезвонить?