header.header(id = 'header')
    nav.header__navigation
        a.header__logo
            img(src = '/src/assets/png/logo.png')
        ul.header__links-block
            li.header__link 
                a Профили
            li.header__link 
                a(href = "#" class="open-popup") Конфигурации
            li.header__link 
                a(href = "#" class="open-popup") Бесплатный замер
            li.header__link
                a(href = "#" class="open-popup") Контакты
        .header__call
            a.header__link(href = 'tel: +78633081372') + 7 (863) 309-13-72
            p.header__call-offer Перезвонить?