.installment
    .wrapper
        .installment__content
            h1.installment__title Бесплатный замер
            ul.installment__subtitles-list
                li.installment__subtitle-elem Приезжаем в удобное время
                li.installment__subtitle-elem Замер за 20 минут
            ul.installment__inputs-list
                li.installment__input-elem
                    input.installment__input(type="text" placeholder="Ваше имя")
                li.installment__input-elem
                    input.installment__input(type="text" placeholder="Телефон")
                li.installment__input-elem.installment__policy-margin
                    button.installment__button Оставить заявку
            p.installment__policy Нажимая кнопку, вы соглашаетесь с условиями <span>Политики конфиденциальности</span>