.measurement
    .wrapper
        .measurement__content
            h1.measurement__title Рассрочка
            ul.measurement__subtitles-list
                li.measurement__subtitle-elem
                    p.measurement__subtitle-numbers 0<span>&#8381;<span>
                    p.measurement__subtitle-text Первый взнос
                li.measurement__subtitle-elem
                    p.measurement__subtitle-numbers 0<span>%<span>
                    p.measurement__subtitle-text Процент переплат
                li.measurement__subtitle-elem
                    p.measurement__subtitle-numbers 3<span>мес<span>
                    p.measurement__subtitle-text На срок 3 месяца
            ul.measurement__inputs-list
                li.measurement__input-elem
                    input.measurement__input(type="text" placeholder="Ваше имя")
                li.measurement__input-elem
                    input.measurement__input(type="text" placeholder="Телефон")
                li.measurement__input-elem.measurement__policy-margin
                    button.measurement__button Оставить заявку
            p.measurement__policy Нажимая кнопку, вы соглашаетесь с условиями <span>Политики конфиденциальности</span>