.popup__bg
    form.popup
        img.close-popup.popup__close(src="/src/assets/png/svg/close.svg")
        .popup__title Заказать окна
        .popup__text Мы перезвоним вам в течениe 10 минут
        input.popup__input(type="text" placeholder="Ваше имя")
        input.popup__input(type="text" placeholder="Номер телефона")
        button.popup__button Заказать звонок