ul.profiles.mobile  
    +profileMobile("/src/assets/png/svg/flag.svg", "Grunder", "«Технологии, проверенные не одним поколением немцев.»‎", "от 2 741 руб.", "Толщина профиля - 60 мм", "3-камерный профиль", "Стеклопакет толщиной до 40 мм")
    +profileMobile("/src/assets/png/svg/flag.svg", "Grunder", "«Технологии, проверенные не одним поколением немцев.»‎", "от 2 741 руб.", "Толщина профиля - 60 мм", "3-камерный профиль", "Стеклопакет толщиной до 40 мм")
    +profileMobile("/src/assets/png/svg/flag.svg", "Grunder", "«Технологии, проверенные не одним поколением немцев.»‎", "от 2 741 руб.", "Толщина профиля - 60 мм", "3-камерный профиль", "Стеклопакет толщиной до 40 мм")
    +profileMobile("/src/assets/png/svg/flag.svg", "Grunder", "«Технологии, проверенные не одним поколением немцев.»‎", "от 2 741 руб.", "Толщина профиля - 60 мм", "3-камерный профиль", "Стеклопакет толщиной до 40 мм")
    +profileMobile("/src/assets/png/svg/flag.svg", "Grunder", "«Технологии, проверенные не одним поколением немцев.»‎", "от 2 741 руб.", "Толщина профиля - 60 мм", "3-камерный профиль", "Стеклопакет толщиной до 40 мм")
    +profileMobile("/src/assets/png/svg/flag.svg", "Grunder", "«Технологии, проверенные не одним поколением немцев.»‎", "от 2 741 руб.", "Толщина профиля - 60 мм", "3-камерный профиль", "Стеклопакет толщиной до 40 мм")
