.profiles__container
    h2 Профили
    ul.profiles__list
        li.profiles__elem
            .profiles__wrapper
                .profiles__text
                    .profiles__brand-block
                        img.profiles__brand-img(src = '/src/assets/png/svg/flag.svg')
                        p.profiles__title Grunder
                    p.profiles__subtitle «Технологии, проверенные не одним поколением немцев.»‎
                    p.profiles__price Цена за м²
                    p.profiles__price-field от 2 741 руб.
                img.profiles__img(src = '/src/assets/png/window.png')
            .profiles__indicators
                ul.profiles__indicator-list
                    li.profiles__indicator-elem
                        p.profiles__subtitle.profiles__subtitle_margin Толщина профиля - 60 мм
                        img.profiles__indicator-img.profiles__indicator-img_margin(src = '/src/assets/png/svg/temperature.svg')
                        .blank
                            .filled.filled-orange
                    li.profiles__indicator-elem
                        p.profiles__subtitle.profiles__subtitle_margin 3-камерный профиль
                        img.profiles__indicator-img.profiles__indicator-img_margin(src = '/src/assets/png/svg/sound.svg')
                        .blank
                            .filled.filled-green
                    li.profiles__indicator-elem
                        p.profiles__subtitle.profiles__subtitle_margin Стеклопакет толщиной до 40 мм
                        img.profiles__indicator-img.profiles__indicator-img_margin(src = '/src/assets/png/svg/light.svg')
                        .blank
                            .filled.filled-yellow
            button.profiles__button Заказать со скидкой