ul.profiles__list
    li.profiles__elem
        img.profiles__county(src = '/src/assets/png/svg/flag.svg')
        p.profiles__title Grunder
        p.profiles__subtitle «Технологии, проверенные не одним поколением немцев.»‎
        .profiles__price
            .profiles__price-text Цена за м²
            .profiles__price-field от 2 741 руб.
        ul.profiles__indicator-list
            li.profiles__indicator-elem Толщина профиля - 60 мм
            li.profiles__indicator-elem 3-камерный профиль
            li.profiles__indicator-elem Стеклопакет толщиной до 40 мм
        ul.profiles__indicator-list
            li.profiles__indicator-blank
                .profiles__indicator-filled.profiles__indicator-filled_orange
            li.profiles__indicator-blank
                .profiles__indicator-filled.profiles__indicator-filled_green
            li.profiles__indicator-blank
                .profiles__indicator-filled.profiles__indicator-filled_yellow