.quality-windows__container
    .quality-windows__content
        h1.quality-windows__title Качественные окна от <span>4600 руб.</span>
        p.quality-windows__subtitle Пластиковые окна и двери от известных немецких производителей в Ростове-на-Дону и области.
        button.quality-windows__button Заказать
    img.quality-windows__img(src = '/src/assets/png/kid.webp')
