.slider
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    4, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 1`, 
    "/src/assets/png/review-photo1.jpg", "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    4, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 2`)
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    5, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 3`, 
    "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    1, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 4`, 
    "/src/assets/png/review-photo1.jpg", "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    4, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 5`, 
    "/src/assets/png/review-photo1.jpg", "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    4, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 6`, 
    "/src/assets/png/review-photo1.jpg", "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    4, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 7`, 
    "/src/assets/png/review-photo1.jpg", "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")
  .slider__item
    +review(
    'Резчикова Елена', 
    "/src/assets/png/avatar.jpg", 
    4, "15 марта", 
    `Мастера предприятия «Оконский» выполняли в моей квартире остекление балкона под ключ. 
    Работа предстояла серьезная. Вся работа у специалистов заняла всего три рабочих дня. 
    Это с демонтажем старого остекления, наружной и внутренней отделкой. 
    Мне очень понравилось. Молодцы!!! Так держать!!! 8`, 
    "/src/assets/png/review-photo1.jpg", "/src/assets/png/review-photo2.jpg", 
    "/src/assets/png/review-photo3.jpg")