@import './extends.scss';
@import '/src/styles/reset.css';
@import '/src/styles/scss/fonts.scss';

@import './media.scss';

@import '/src/styles/scss/elements/configuration.scss';
@import '/src/styles/scss/elements/slider.scss';
@import '/src/styles/scss/elements/review.scss';
@import '/src/styles/scss/elements/advantages.scss';
@import '/src/styles/scss/elements/quality-windows.scss';
@import '/src/styles/scss/elements/profiles.scss';
@import '/src/styles/scss/elements/header.scss';
@import '/src/styles/scss/elements/installment.scss';
@import '/src/styles/scss/elements/measurement.scss';
@import '/src/styles/scss/elements/contacts.scss';
@import '/src/styles/scss/elements/circle-bar.scss';
@import '/src/styles/scss/elements/burger.scss';

@import '/src/styles/scss/elements/popup.scss';

section {
    // margin: 0 auto;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background: #FDF8F8;
}

.wrapper {
    max-width: 1182px;
    margin: 0 auto;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 46px;

    margin-bottom: 48px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
}