$primary-color: #CB1D1D;

%line{
    width: 100%;
    background: rgba(217, 217, 217, 0.25);

    border: 0px;
    padding: 1px 0 1px 0;
    margin: 0px 0px 0px 0px;
}
%arrow {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
    div {
        position: relative;
        top: 20px;
        width: 90px;
        height: 10px;
        background-color: $primary-color;
        left:0;
        display: block;
        border-radius: 8px;
        &:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 10px;
            top: -11px;
            background-color: $primary-color;
            border-radius: 8px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 40px;
            height: 10px;
            top: 11px;
            background-color: $primary-color;
            border-radius: 8px;
        }
    }
}