@media (min-width: 320px) and (max-width: 479px) {
    .wrapper {
        h2 {
            font-size: 30px;
        }

        .review__ {
            &__container {
                max-width: 300px;
            }
        }

        .configuration {
            &__container {
                width: 300px;
            }
        }

        .advantages {
            &__elem {
                max-width: 300px;
            }
        }

        .profiles {
            &__wrapper {
                max-width: 300px;
            }

            &__button {
                text-align: center;
            }

            &__img {
                width: 30%;
                height: 30%;
                margin: auto 0;
                // width: 50px;
                // height: 50px;
            }

            &__price-field {
                // width: 100%;
            }
        }

        .quality-windows {
            &__container {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;

                text-align: center;

            }

            &__content {
                align-self: center;

                max-width: 278px;

            }

            &__img {
                width: 259px;
                margin: 0 auto 20px;
            }

            &__title {
                font-size: 25px;
                line-height: 1.2;


            }

            &__subtitle {
                font-size: 15px;
                line-height: 1.4;

                margin-bottom: 20px;
            }

            &__button {
                width: 259px;
            }
        }

        // .profiles {
        //     &__indicator-blank {
        //         width: 46px;
        //         height: 46px;
        //         // background-color: green;
        //         background: rgba(0, 0, 0, 0);
        //         // position: absolute;
        //         background-image: url(/src/assets/png/circle-bar.png);
        //         background-repeat: no-repeat;
        //         background-size: cover;
        //         background-position: center;
        //     }

        //     &__indicator-img {
        //         position: absolute;
        //         right: 0;
        //         margin-top: 3%;
        //         // margin: auto 0;
        //         &_light {
        //             // bottom: 5%;

        //         }

        //         &_sound {}

        //         &_temperature {}
        //     }

        //     &__indicator-filled {
        //         display: none
        //     }
        // }
    }
}

@media (min-width: 480px) and (max-width: 639px) {
    .wrapper {
        .review__ {
            &__container {
                max-width: 460px;
            }
        }

        .configuration {
            &__container {
                width: 460px;
            }
        }

        .quality-windows {
            &__container {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;

                text-align: center;

            }

            &__content {
                align-self: center;

                max-width: 400px;

            }

            &__img {
                width: 259px;
                margin: 0 auto 20px;
            }

            &__title {
                font-size: 36px;
                line-height: 1.2;


            }

            &__subtitle {
                font-size: 20px;
                line-height: 1.4;

                margin-bottom: 20px;
            }

            &__button {
                width: 259px;
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 959px) {
    .wrapper {
        .review__ {
            &__container {
                max-width: 298px;
            }
        }

        .configuration {
            &__container {
                width: 298px;
            }
        }

        .advantages {
            &__more-list {
                justify-content: center;
            }

            &__elem {
                max-width: 600px;
            }
        }

        .quality-windows {
            &__container {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;

                text-align: center;

            }

            &__content {
                align-self: center;

                max-width: 400px;
            }

            &__img {
                width: 335px;
                margin: 0 auto 20px;
            }

            &__title {
                font-size: 36px;
                line-height: 1.2;


            }

            &__subtitle {
                font-size: 20px;
                line-height: 1.4;

                margin-bottom: 20px;
            }

            &__button {
                width: 259px;
            }
        }
    }

}

@media (min-width: 960px) and (max-width: 1199px) {
    .wrapper {
        .review {
            &__container {
                max-width: 458px;
            }
        }

        .configuration {
            &__container {
                width: 458px;
            }
        }

        .advantages {
            &__more-list {
                justify-content: center;
            }

            &__list {
                display: flex;
            }

            &__elem {
                max-width: 300px;
            }
        }
        .quality-windows {
            
            &__img {
                width: 345px;
                margin: 0 auto 20px;
            }
        }
    }


}

@media (min-width: 1200px) {
    .wrapper {
        .review {
            &__container {
                max-width: 370px;
            }
        }

        .configuration {
            justify-content: space-between;
        }

        .advantages {
            &__more-list {
                justify-content: center;
            }

            &__list {
                display: flex;
            }

            &__elem {
                max-width: 300px;
            }
        }
    }
}