@media (min-width: 320px) and (max-width: 479px) {
    .header {
        height: 4vh !important;
        .wrapper {
            .header__navigation {
                display: none ;
            }

            .header__burger {
                display: block ;
            }
        }
    }
    
    .wrapper {
        .popup{
            width: 280px ;
            padding: 60px 20px ;
        }
        .popup.active {
            transform: translate(-50%, -80%);
            transition: 0.5s all;
        }
        h2 {
            font-size: 30px;
        }

        .installment {
            &__subtitles-list {
                display: flex;
                flex-direction: column;

                align-items: center;
            }

            &__subtitle-elem {
                margin: 0;
                font-size: 22px;
                line-height: 1.3;
                width: 286px;
            }

            &__title {
                font-style: normal;
                font-size: 42px;
                line-height: 70px;

                text-align: center;

                margin-bottom: 40px;
            }

            &__inputs-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__input-elem {
                margin-right: 0;
                padding-bottom: 20px;
            }

            &__policy {
                text-align: center;
                width: 280px;
                margin: 0 auto;
            }

        }

        .measurement {
            &__subtitles-list {
                display: flex;
                justify-content: center;
            }

            &__subtitle-elem {
                margin: 5px;

                line-height: 1.1;

            }

            &__subtitle-numbers {
                font-size: 64px;
                font-weight: 700;
                line-height: 1.1;

                span {
                    font-size: 32px;
                }
            }

            &__subtitle-text {
                font-size: 12px;
            }

            &__title {
                font-style: normal;
                font-size: 42px;
                line-height: 70px;

                text-align: center;

                margin-bottom: 40px;
            }

            &__inputs-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__input-elem {
                margin-right: 0;
                padding-bottom: 20px;
            }

            &__policy {
                text-align: center;
                width: 280px;
                margin: 0 auto;
            }

        }

        .quality-windows {
            padding-top: 50px !important;
            &__wrapper {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;

                text-align: center;
            }

            &__container {}

            &__content {
                align-self: center;
                margin-right: 0;
                max-width: 278px;

            }

            &__img {
                width: 259px;
                margin: 0 auto 20px;
            }

            &__title {
                font-size: 25px;
                line-height: 1.2;

                width: 280px;

            }

            &__subtitle {
                font-size: 15px;
                line-height: 1.4;

                margin-bottom: 20px;
            }

            &__button {
                width: 259px;
            }
        }

        .configuration {
            grid-template-columns: 1fr;

            &__container {
                width: 300px;
            }
        }

        .contacts {
            flex-direction: column;

            iframe {
                margin-right: 0;
                margin-bottom: 30px;
                width: 250px;
                height: 250px;
            }

            &__list {
                width: 70%;
                align-items: left;
            }

            &__office {
                font-size: 24px;
            }

            &__phone {
                font-size: 14px;
                color: rgb(77, 77, 77);
            }

            &__adress {
                font-size: 18px;
            }

        }

        .advantages {
            &__elem {
                max-width: 300px;
            }

            &__more-list {
                grid-template-columns: 1fr;
            }
        }

        .profiles {
            &__list {
                grid-template-columns: 1fr;
            }

            &__wrapper {
                // max-width: 300px;
            }

            &__button {
                text-align: center;
            }

            &__img {
                width: 30%;
                height: 30%;
                margin: auto 0;
            }

            &__price-field {}
        }

        .mobile {
            display: none;
        }
    }
}

@media (min-width: 480px) and (max-width: 639px) {
    .header {
        height: 4vh !important;
        .wrapper {
            .header__navigation {
                display: none ;
            }

            .header__burger {
                display: block ;
            }
        }
    }
    .wrapper {
        .popup{
            width: 350px ;
            padding: 60px 20px ;
        }
        .popup.active {
            transform: translate(-50%, -100%);
            transition: 0.5s all;
        }
        .installment {
            &__subtitles-list {
                display: flex;
                flex-direction: column;

                align-items: center;
            }

            &__subtitle-elem {
                margin: 0;
                font-size: 22px;
                line-height: 1.3;
                width: 286px;
            }

            &__title {
                font-style: normal;
                font-size: 42px;
                line-height: 70px;

                text-align: center;

                margin-bottom: 40px;
            }

            &__inputs-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__input-elem {
                margin-right: 0;
                padding-bottom: 20px;
            }

            &__policy {
                text-align: center;
                width: 280px;
                margin: 0 auto;
            }

        }

        .measurement {
            &__subtitles-list {
                display: flex;
                justify-content: center;
            }

            &__subtitle-elem {
                margin: 5px;

                line-height: 1.1;

            }

            &__subtitle-numbers {
                font-size: 64px;
                font-weight: 700;
                line-height: 1.1;

                span {
                    font-size: 32px;
                }
            }

            &__subtitle-text {
                font-size: 12px;
            }

            &__title {
                font-style: normal;
                font-size: 42px;
                line-height: 70px;

                text-align: center;

                margin-bottom: 40px;
            }

            &__inputs-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__input-elem {
                margin-right: 0;
                padding-bottom: 20px;
            }

            &__policy {
                text-align: center;
                width: 280px;
                margin: 0 auto;
            }

        }

        .configuration {
            grid-template-columns: 1fr;

            &__container {
                width: 460px;
            }
        }

        .contacts {
            flex-direction: column;

            iframe {
                margin-right: 0;
                margin-bottom: 50px;
                width: 475px;
                height: 300px;
            }

            &__list {
                width: 70%;
                align-items: left;

            }
        }

        .advantages {
            &__elem {
                max-width: 300px;
            }

            &__more-list {
                grid-template-columns: repeat(auto-fill, minmax(555px, 60px));
                justify-content: center;
            }
        }

        .profiles {
            &__list {
                grid-template-columns: 1fr;
            }
        }

        .quality-windows {
            &__wrapper {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;

                text-align: center;
            }

            &__container {}

            &__content {
                align-self: center;
                max-width: 400px;
                margin-right: 0;
            }

            &__img {
                width: 259px;
                margin: 0 auto 20px;
            }

            &__title {
                font-size: 36px;
                line-height: 1.2;

                width: 100%;
            }

            &__subtitle {
                font-size: 20px;
                line-height: 1.4;

                margin-bottom: 20px;
            }

            &__button {
                width: 259px;
            }
        }

        .mobile {
            display: none;
        }
    }
}

@media (min-width: 640px) and (max-width: 959px) {
    .header {
        height: 8vh !important;
        .wrapper {
            .header__navigation {
                display: none ;
            }

            .header__burger {
                display: block ;
            }
        }
    }
    .wrapper {
        .header {
            height: 70px !important;
            width: 100%;
            height: 70px;

            &__navigation {
                background-color: black;
                display: none;
            }

            &__burger {
                display: block;
            }

            .menu {}
        }

        .configuration {
            grid-template-columns: 1fr 1fr;

            &__container {
                width: 298px;
            }
        }

        .contacts {
            flex-direction: column;

            iframe {
                margin-right: 0;
                margin-bottom: 100px;
                width: 550px;
                height: 550px;
            }

            &__list {
                width: 65%;
                align-items: left;

            }
        }

        .installment {
            &__subtitles-list {
                display: flex;
                flex-direction: column;

                align-items: center;
                // width: 398px;

            }

            &__subtitle-elem {
                margin: 0;
                font-size: 22px;
                line-height: 1.3;
            }

            &__title {
                font-style: normal;
                font-size: 56px;
                line-height: 70px;

                text-align: center;

                margin-bottom: 40px;
            }

            &__inputs-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__input-elem {
                margin-right: 0;
                font-size: 24px;
                padding-bottom: 20px;

                width: 419px;

                button {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }

            &__policy {
                text-align: center;
                width: 419px;
                margin: 0 auto;
            }

        }

        .measurement {
            &__subtitles-list {
                display: flex;
                justify-content: center;
            }

            &__subtitle-elem {
                margin: 5px;

                line-height: 1.1;

            }

            &__subtitle-numbers {
                font-size: 64px;
                font-weight: 700;
                line-height: 1.1;

                span {
                    font-size: 32px;
                }
            }

            &__subtitle-text {
                font-size: 12px;
            }

            &__title {
                font-style: normal;
                font-size: 42px;
                line-height: 70px;

                text-align: center;

                margin-bottom: 40px;
            }

            &__inputs-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__input-elem {
                margin-right: 0;
                padding-bottom: 20px;

                width: 419px;

                button {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }

            &__policy {
                text-align: center;
                width: 419px;
                margin: 0 auto;
            }

        }

        .advantages {
            &__more-list {
                grid-template-columns: repeat(auto-fill, minmax(640px, 60px));
                justify-content: center;
            }

            &__elem {
                max-width: 600px;
            }
        }

        .profiles {
            &__list {
                display: none;
            }
        }

        // mobile-version
        .profiles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 24px;

            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 24px;
            }

            &__el {
                width: 300px;
                margin: 0 auto;
            }

            &__text {
                margin-right: 0;
            }

            &__indicator-list {
                padding-bottom: 0;

                margin-bottom: 24px;
            }

            &__indicator-li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__mobile-wrapper {
                padding: 24px 24px 0 34px;

                background: white;
                border-radius: 12px;
            }

            &__title {
                font-size: 22px;
                line-height: 24px;
            }

            &__price {
                padding-top: 0;
            }

            &__price-field {
                font-size: 18px;
                padding: 8px 8px 10px 8px;

                max-width: 155px;
            }

            &__indicator-elem {
                justify-content: start;
            }

            &__button {
                button {
                    text-align: center;
                    padding: 12px 26px;
                }
            }
        }

        .quality-windows {
            &__wrapper {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;

                text-align: center;
            }

            &__container {}

            &__content {
                align-self: center;
                max-width: 400px;
                margin-right: 0;
            }

            &__img {
                width: 335px;
                margin: 0 auto 20px;
            }

            &__title {
                font-size: 36px;
                line-height: 1.2;

                width: 100%;

            }

            &__subtitle {
                font-size: 20px;
                line-height: 1.4;

                margin-bottom: 20px;
            }

            &__button {
                width: 259px;
            }
        }
        .profiles {
            &__list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 24px;
        
                align-items: center;
                justify-content: center;
            }
        
            &__elem {
                width: 300px; ////
                background-color: white;
                border-radius: 12px;
        
                margin: auto;
            }
        
            &__wrapper {
                width: 100%;
                margin: 24px;
                margin: 0 auto;
            }
        
            &__content {
                display: flex;
                flex-direction: row-reverse; ////
                justify-content: space-around;
                padding: 32px 0 0 0 !important;
            }
            &__brand-price{
                display: flex; ////
                align-items: center; ////
                justify-content: center;
            }
            &__mobile-content{
                display: flex; ////
                justify-content: center; ////
                align-items: center; ////
            }
            &__price-content{
                
            }
            &__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: rgba(0, 0, 0, 0.7);
        
                width: 216px; ////
            }

            &__text {
                max-width: 212px;
                display: none; ////
                margin-right: 24px;
            }
        
            &__brand-block {
                display: flex;
                margin-bottom: 18px;
            }
        
            &__brand-img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
        
                margin: auto 0;
                margin-right: 12px;
            }
        
            &__title {
                font-style: normal;
                font-weight: 600;
                font-size: 22px; ////
                line-height: 24px; ////
                &_margin {
                    margin-right: 12px;
    
                    // display: none; ////
                }
            }
        
            &__price {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: rgba(0, 0, 0, 0.4);
        
                padding: 16px 0 8px;
            }
        
            &__price-field {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: $primary-color;
                padding: 8px 0 10px 0; ////
                border: 1px solid $primary-color;
                border-radius: 12px;
        
                max-width: 155px;
            }
        
            &__img {
                width: 160px;
                height: 170px;
            }
        
            &__indicator-list {
                padding-bottom: 0; ////
                img {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            
            &__indicator-elem {
                display: flex;
                margin-bottom: 12px;
                justify-content: center; ////
                width: 100%;
                &::before {
                    content: "\2022";
                    color: $primary-color;
                    font-weight: bold;
                    width: 4px;
                    margin-right: 10px;
                    /* Add content: \2022 is the CSS Code/unicode for a bullet */
                }
            }
        
            &__indicator-img {
                width: 22px;
                height: 22px;

                display: none; ////
            }
        
            &__subtitle_margin {
                margin-right: 0px; ////
                width: 200px; ////
            }
        
            &__indicator-img_margin {
                margin-right: 11px;

                display: none; ////
            }
        
            &__indicator-blank {
                width: 128px;
                height: 14px;
                background: rgba(0, 0, 0, 0.08);
                border-radius: 7px;
                margin: auto 0 auto 0;

                display: none; ////
        
            }
        
            &__indicator-filled {
                width: 75%;
                height: 100%;
                border-radius: 7px;

                display: none; ////
        
                &_orange {
                    background: #F36819;
                }
        
                &_green {
                    background: #4AC120;
                    width: 30%;
                }
        
                &_yellow {
                    background: #F3B619;
                    width: 100%;
                }
            }
        
            &__button {
                width: 100%;
                text-align: center; ////
                padding-bottom: 32px;
        
                button {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    border-radius: 32px;
                    background: white;
                    padding: 14px 20px; ////
        
                    &:hover {
                        color: white;
                        background: $primary-color;
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                    }
                }
        
            }
        }
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .wrapper {
        .configuration {
            grid-template-columns: 1fr 1fr;

            &__container {
                width: 458px;
            }
        }

        .advantages {
            &__more-list {
                justify-content: center;
            }

            &__list {
                display: flex;
            }

            &__elem {
                max-width: 300px;
            }
        }

        .quality-windows {
            &__img {
                width: 345px;
                margin: 0 auto 20px;
            }
        }

        .mobile {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .wrapper {
        .configuration {
            justify-content: space-between;
        }

        .advantages {
            &__more-list {
                justify-content: center;
            }

            &__list {
                display: flex;
            }

            &__elem {
                max-width: 300px;
            }
        }

        .mobile {
            display: none;
        }
        
    }
}