include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    .main__background
      
      //- .slider(data-slick='{"slidesToShow": 4, "slidesToScroll": 4}')
      //-   div
      //-     img(src="./src/assets/png/svg/toxin-logo.svg")
      //-   div
      //-     img(src="./src/assets/png/svg/toxin-logo.svg")
      //-   div
      //-     img(src="./src/assets/png/svg/toxin-logo.svg")
      //-   div
      //-     img(src="./src/assets/png/svg/toxin-logo.svg")
      //-   div
      //-     img(src="./src/assets/png/svg/toxin-logo.svg")
      //-   div
      //-     img(src="./src/assets/png/svg/toxin-logo.svg")
        //- #app
      ul.main__headers__footers
        li.main__headers__footers__el
          include ../includes/modules/headers-footers/footer-card
      .content-wrapper
        block content
    block script